<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
  <!--layout="${longdate}|{threadid}|${level:uppercase=true}|${logger}|${message}"-->
  <extensions>
    <add assembly="CryptoChain" />
  </extensions>  
  <!-- the targets to write to -->
  <targets>
    <target xsi:type="Redis" name="infologtoredis" host="127.0.0.1" port="6379" db="0"
            key="Info-Logs" dataType="list"
            layout="[${longdate}] [${level:uppercase=true}(${threadid})] [${logger}] ${newline}${message}${newline}"/>
  
    <target xsi:type="Redis" name="debuglogtoredis" host="127.0.0.1" port="6379" db="0"
                key="Debug-Logs" dataType="list"
                layout="[${longdate}] [${level:uppercase=true}(${threadid})] [${logger}] ${newline}${message}${newline}"/>

    <target xsi:type="Redis" name="errorlogtoredis" host="127.0.0.1" port="6379" db="0"
               key="Error-Logs" dataType="list"
              layout="[${longdate}] [${level:uppercase=true}(${threadid})] [${logger}] ${newline}${exception:format=toString,Data:maxInnerExceptionLevel=10}${newline}"/>


    <target xsi:type="Redis" name="fatallogtoredis" host="127.0.0.1" port="6379" db="0"
               key="Fatal-Logs" dataType="list"
              layout="[${longdate}] [${level:uppercase=true}(${threadid})] [${logger}] ${newline}${exception:format=toString,Data:maxInnerExceptionLevel=10}${newline}"/>

    <target name="console" xsi:type="Console" />

    <!-- write logs to file  -->
    <!--<target name="tracefile" xsi:type="File"
            fileName="\logs\CryptoChain\Trace\${date:format=yyyy-MM-dd}\${date:format=HH-mm}.log" 
            layout="[${longdate}] [${level:uppercase=true}(${threadid})] [${logger}] ${newline}${message}${newline}" />
    <target name="debugfile" xsi:type="File"
            fileName="\logs\CryptoChain\Debug\${date:format=yyyy-MM-dd}\${date:format=HH-mm}.log"
               layout="[${longdate}] [${level:uppercase=true}(${threadid})] [${logger}] ${newline}${message}${newline}"/>
    <target  name="infofile" xsi:type="File"
            fileName="\logs\CryptoChain\Info\${date:format=yyyy-MM-dd}\${date:format=HH-mm}.log"
               layout="[${longdate}] [${level:uppercase=true}(${threadid})] [${logger}] ${newline}${message}${newline}"/>
    <target name="errorfile" xsi:type="File"
            fileName="\logs\CryptoChain\Error\${date:format=yyyy-MM-dd}\${date:format=HH-mm}.log"
               layout="[${longdate}] [${level:uppercase=true}(${threadid})] [${logger}] ${newline}${exception:format=toString,Data:maxInnerExceptionLevel=10}${newline}"/>-->
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" levels="Error" writeTo="errorlogtoredis" />
    <!--All logs, including from Microsoft-->
    <logger name="*" levels="Info" writeTo="infologtoredis" />

    <logger name="*" levels="Fatal" writeTo="fatallogtoredis" />
    <!--All logs, including from Microsoft-->
    <logger name="*" levels="Debug" writeTo="debuglogtoredis" />

    <!--All logs, including from Microsoft--><!--
    <logger enabled="false" name="*" maxlevel="Trace" writeTo="tracefile" /> 
    --><!--All logs, including from Microsoft--><!--
    <logger name="*" levels="Error,Fatal" writeTo="errorfile" />
    --><!--All logs, including from Microsoft--><!--
    <logger name="*" level="Debug" writeTo="debugfile" /> 
    All logs, including from Microsoft-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="" final="true" />
   <!--<logger name="*" levels="Info,Warn" writeTo="infofile"  />-->

    <logger name="*" minlevel="Trace" writeTo="console" />

  </rules>
</nlog>